<!-------------------------->
<!-- Game specific scores -->
<!-------------------------->

<div class="buttons" fxLayout="row">
  <button mat-button (click)="navigateBack('stages')">
    <mat-icon>keyboard_arrow_left</mat-icon>
    Stages
  </button>
  <button mat-button (click)="navigateBack('matches')">
    <mat-icon>keyboard_arrow_left</mat-icon>
    Matches
  </button>
</div>

<mat-tab-group mat-align-tabs="center" animationDuration="200ms">
  <mat-tab label="Overview">
    <ng-container *ngIf="overviewScores">
      <div style="margin-top: 30px;">
        <app-faceoff-overview-table
          @animatedItem
          [index]="0"
          [participant]="overviewScores.participantOne"
          [date]="date"
          [match]="overviewScores.teamOne"
        ></app-faceoff-overview-table>
        <app-faceoff-overview-table
          @animatedItem
          [index]="1"
          [participant]="overviewScores.participantTwo"
          [date]="date"
          [match]="overviewScores.teamTwo"
        >
        </app-faceoff-overview-table>
      </div>
      <div style="margin-bottom: 30px;"></div>
    </ng-container>
  </mat-tab>
  <mat-tab *ngFor="let match of dataSource; let i = index" label="Game {{ i + 1 }}">
    <div class="faceoff-game">
      <app-faceoff-table @animatedItem [match]="match" [teamScore]="teamScores[i]" [index]="i"></app-faceoff-table>
    </div>
  </mat-tab>
</mat-tab-group>

<!-- <div style="width: 100%; height: 100%;" @animatedItem>
  <div *ngFor="let match of dataSource; let i = index">
    <app-faceoff-table [match]="match" [teamScore]="teamScores[i]" [index]="i"></app-faceoff-table>
  </div>
</div> -->

<ng-template #noContent>
  <div class="center" @animatedItem *ngIf="loading; else noContentFound">
    <mat-progress-spinner color="warn" mode="indeterminate" diameter="35"></mat-progress-spinner>
  </div>
  <ng-template #noContentFound>
    <div class="center" @animatedItem>
      <mat-icon color="warn" class="icon">warning</mat-icon>
      <h4>No content found!</h4>
    </div>
  </ng-template>
</ng-template>
