<div class="container">
  <mat-card>
    <mat-progress-bar [ngClass]="loading ? 'show' : 'hide'" mode="indeterminate" color="accent"></mat-progress-bar>
    <mat-card-header>
      <mat-card-subtitle (click)="goBack()" style="display: flex; align-items: center; cursor: pointer;"
        ><mat-icon style="margin-right: 10px;">arrow_back</mat-icon>Go back</mat-card-subtitle
      >
    </mat-card-header>
    <div *ngIf="teamInformation$ | async as team" @animatedItem>
      <ng-container *ngIf="!noData; else showNoData">
        <mat-list>
          <section fxLayout="column" fxLayoutAlign="center center" class="mat-typography" style="text-align: left">
            <h3 class="mat-display-1" style="padding: 20px; font-weight: 100;">{{ team.teamInfo.name }}</h3>
          </section>
          <mat-grid-list cols="8" rowHeight="60px">
            <mat-grid-tile [colspan]="2" [rowspan]="2"></mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="static-text">
                <mat-label>Wins</mat-label>
                <input matInput disabled value="{{ teamStats.faceoffWins }}" />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="static-text">
                <mat-label>Losses</mat-label>
                <input matInput disabled value="{{ teamStats.faceoffLosses }}" />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="static-text">
                <mat-label>Faceoffs played</mat-label>
                <input matInput disabled value="{{ teamStats.gamesPlayed }}" />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="static-text">
                <mat-label>Win %</mat-label>
                <input matInput disabled value="{{ teamStats.winPercentage }} %" />
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>

          <div mat-subheader>Players</div>
          <ng-container *ngFor="let player of team.teamInfo.lineup">
            <div class="line">
              <hr class="between" />
            </div>
            <mat-list-item>
              <div class="row">
                <div class="col">
                  <div style="width: 6%; min-width: 50px;">
                    <img
                      class="rank-image"
                      *ngIf="validateRank(player.custom_fields.rank); else showUnranked"
                      matListAvatar
                      src="./assets/rank-icons/{{ player.custom_fields.rank }}.png"
                      alt="./assets/rank-icons/unranked-icon.png"
                    />
                    <ng-template #showUnranked>
                      <img
                        matListAvatar
                        src="./assets/rank-icons/unranked-icon.png"
                        alt="./assets/rank-icons/unranked-icon.png"
                      />
                    </ng-template>
                  </div>
                  <div style="width: 91%" mat-line>
                    <ng-container *ngIf="player.custom_fields?.in_game_nimimerkki as playerIGN; else showToornamentName">
                      <p class="player-name">{{ playerIGN }}</p>
                    </ng-container>

                    <ng-template #showToornamentName>
                      <p class="player-name">{{ player.name }}</p>
                    </ng-template>
                   
                  </div>
                  <div style="width: 3%">
                    <ng-container *ngIf="player.custom_fields.rl_tracker_link">
                      <a href="{{ player.custom_fields.rl_tracker_link }}" target="_blank"
                        ><img
                          matListAvatar
                          style="height: 35px; width: 35px;"
                          src="./assets/TRN.jpg"
                          alt="./assets/rank-icons/unranked-icon.png"
                      /></a>
                    </ng-container>
                  </div>
                </div>
              </div>
            </mat-list-item>
            <mat-list-item style="margin: 15px 0 25px 0;">
              <app-stats-grid-list
                [stats]="getPlayerStats(player, team.teamStats)"
                style="width: 100%;"
              ></app-stats-grid-list>
            </mat-list-item>
          </ng-container>
          <mat-divider></mat-divider>

          <div mat-subheader style="margin-top: 60px;">Latest matches</div>
          <ng-container *ngFor="let match of team.matches">
            <div class="match-score">
              <div
                class="team-name"
                [ngClass]="match.participants[0].result === 'win' ? 'winner-column' : 'loser-column'"
              >
                {{ match.participants[0].participant[0].name }}
              </div>
              <div class="team-score">
                <p [ngClass]="match.participants[0].result === 'win' ? 'winner' : 'loser'">
                  {{ match.participants[0].score || 0 }}
                </p>
                <p style="margin: 0 10px">-</p>
                <p [ngClass]="match.participants[1].result === 'win' ? 'winner' : 'loser'">
                  {{ match.participants[1].score || 0 }}
                </p>
              </div>

              <div
                class="team-name second"
                [ngClass]="match.participants[1].result === 'win' ? 'winner-column' : 'loser-column'"
              >
                {{ match.participants[1].participant[0].name }}
              </div>
              <div class="match-date">
                <p class="date">{{ match.date | date }}</p>
              </div>
              <div class="match-link">
                <p class="router-link" (click)="goToFaceoff(match)">Go to match page</p>
              </div>
            </div>
          </ng-container>
        </mat-list>
      </ng-container>

      <ng-template #showNoData>
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-icon color="warn">warning</mat-icon>
          <h3 style="margin-left: 10px;">No data found</h3>
        </div>
      </ng-template>
    </div>
  </mat-card>
</div>
