<div class="container">
  <mat-card>
    <mat-progress-bar [ngClass]="loading ? 'show' : 'hide'" mode="indeterminate" color="accent"></mat-progress-bar>
    <mat-card-header>
      <mat-card-subtitle (click)="goBack()" style="display: flex; align-items: center; cursor: pointer;"
        ><mat-icon style="margin-right: 10px;">arrow_back</mat-icon>Go back</mat-card-subtitle
      >
    </mat-card-header>
    <ng-container *ngIf="teamInformation$ | async as team">
      <ng-container *ngIf="!noData; else showNoData">
        <mat-list>
          <section fxLayout="column" fxLayoutAlign="center center" class="mat-typography" style="text-align: left">
            <h3 class="mat-display-1" style="margin: 20px;">{{ team.teamInfo.name }}</h3>
          </section>

          <mat-list>
            <mat-list-item>
              <h3 class="number normal">{{ teamStats.faceoffWins }}</h3>
              <div class="label mat-body-3">Wins</div>
            </mat-list-item>
            <mat-list-item>
              <h3 class="number normal">{{ teamStats.faceoffLosses }}</h3>
              <div class="label mat-body-3">Losses</div>
            </mat-list-item>
            <mat-list-item>
              <h3 class="number normal">{{ teamStats.gamesPlayed }}</h3>
              <div class="label mat-body-3">Games played</div>
            </mat-list-item>
            <mat-list-item>
              <h3 class="number normal">{{ teamStats.winPercentage }} %</h3>
              <div class="label mat-body-3">Win percentage</div>
            </mat-list-item>
          </mat-list>

          <mat-divider></mat-divider>
          <div mat-subheader>Players</div>
          <mat-list-item *ngFor="let player of team.teamInfo.lineup">
            <img
              *ngIf="validateRank(player.custom_fields.rank); else showUnranked"
              matListAvatar
              src="./assets/rank-icons/{{ player.custom_fields.rank }}.png"
              alt="./assets/rank-icons/unranked-icon.png"
            />
            <ng-template #showUnranked>
              <img
                matListAvatar
                src="./assets/rank-icons/unranked-icon.png"
                alt="./assets/rank-icons/unranked-icon.png"
              />
            </ng-template>
            <div mat-line>{{ player.name }}</div>
            <ng-container *ngIf="validateSteamId(player.custom_fields.steam_id)">
              <a href="https://steamcommunity.com/profiles/{{ player.custom_fields.steam_id }}" target="_blank"
                ><img
                  matListAvatar
                  style="height: 25px; width: 25px;"
                  src="./assets/steam.png"
                  alt="./assets/rank-icons/unranked-icon.png"
              /></a>
            </ng-container>
          </mat-list-item>
          <mat-divider></mat-divider>

          <div mat-subheader>Latest matches</div>
          <mat-list-item *ngFor="let match of team.matches">
            <mat-icon mat-list-icon>history</mat-icon>
            <div mat-line>{{ match.participants[1].participant[0].name }}</div>
            <div mat-line>{{ match.date | date }}</div>
          </mat-list-item>
        </mat-list>
      </ng-container>

      <ng-template #showNoData>
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-icon color="warn">warning</mat-icon>
          <h3 style="margin-left: 10px;">No data found</h3>
        </div>
      </ng-template>
    </ng-container>
  </mat-card>
</div>
