<div *ngIf="!(stages$ | async)">
  <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
</div>
<div class="buttons">
  <button mat-button (click)="navigateTournaments()">
    <mat-icon>keyboard_arrow_left</mat-icon>
    Tournaments
  </button>
</div>
<mat-card>
  <mat-card-title class="mat-display-2" style="padding: 25px;">Stages </mat-card-title>
  <mat-divider></mat-divider>
  <mat-list role="list">
    <div *ngIf="!(stages$ | async); else stageList" style="padding: 10px; margin-top: 20px;" class="item">
      <ngx-skeleton-loader
        count="5"
        appearance="line"
        [theme]="{
          padding: '10px'
        }"
      >
      </ngx-skeleton-loader>
    </div>
    <ng-template #stageList>
      <mat-list-item *ngFor="let stage of stages$ | async; let i = index" role="listitem" @animatedItem>
        <mat-icon matListIcon>label_important</mat-icon>
        <h4 matLine>{{ stage.name }}</h4>
        <p matLine class="demo-2">Participants: {{ stage.settings.size }}</p>
        <a
          mat-raised-button
          style="min-width: 100px;"
          routerLink="/tournaments/{{ tournamentId }}/stages/{{ stage.id }}/matches"
          routerLinkActive="active"
          >Go to stage</a
        >
      </mat-list-item>
    </ng-template>
  </mat-list>
</mat-card>
