figure {
  align-items: start !important;
}

mat-grid-tile {
  align-items: start !important;
  margin: 0 10px 10px 10px;
}

.flex-container {
  display: flex;
  padding: 30px;
  background: #fbfbfb !important;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.tournament {
  width: 90%;
  margin: 10px;
}

mat-expansion-panel {
  padding: 25px;
  min-width: 300px;
}

.link {
  cursor: pointer;
}
.mat-expansion-panel-spacing {
  margin: 0;
}
.flex-container {
  background: white;
}

.avatar {
  width: 30px;
  margin-right: 20px;
}

mat-panel-title,
mat-panel-description {
  align-items: center;
}

.mat-tab-label-container {
  margin-top: 10px;
}

.container {
  padding: 24px;
  display: flex;
  white-space: pre-wrap;
  align-items: flex-start;
  flex-wrap: wrap;
}

.participant {
  width: 50%;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
  padding: 0;
}

.mat-expansion-panel-header {
  padding-left: 0;
}
