.container {
  max-width: 90%;
  min-width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #cbcdce94;
  border-radius: 3px;
}

table {
  width: 100%;
  table-layout: fixed;
}

.mat-column-name {
  width: 40%;
}

p {
  font-size: 15px;
  color: #585858;
}

.center {
  text-align: center;
}

.points {
  font-weight: 900;
  font-size: 16px !important;
  color: black;
}
