@import "./../theme.scss";

app-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.app {
  width: 100%;
  position: absolute;
  top: 56px;
  bottom: 0;
  right: 0;
}

.toornament-logo {
  position: fixed;
  z-index: 10;
  top: 91%;
  right: 1%;
  background: #292929;
  border-radius: 5px;
}

.arrow {
  border-radius: 50%;
  position: fixed;
  top: 93%;
  left: 30%;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
}

.arrow:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.arrow-right {
  transform: scale(1.3);
  color: white !important;
  background: #ff5623;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.sidenav-container {
  height: 100%;
}
.sidenav-container .sidenav {
  width: 300px;
  background-color: #fff;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.sidenav-container .open {
  background-color: #fff;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.sidenav-container .closed {
  background-color: transparent !important;
  box-shadow: none;
}

.mat-drawer-container {
  background-color: white;
}

::ng-deep.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidenav-container .sidenav .home-button {
  width: 100%;
  padding-top: 60px;
  margin-bottom: 30px;
  display: inline-block;
}
.sidenav-container .sidenav .home-button .app-logo {
  width: 40px;
  margin: 0 auto 80px;
  display: block;
}
.sidenav-container .sidenav .mat-toolbar {
  background: inherit;
}
.sidenav-container .sidenav .navigation-list {
  padding-top: 30px;
}
.sidenav-container .sidenav .navigation-list .navigation-item.active {
  background: #dcf0fb;
  color: #062639;
}
.sidenav-container .sidenav .navigation-list .navigation-item .mat-icon {
  margin-right: 5px;
}
.sidenav-container .sidenav .navigation-list .navigation-item .navigation-item-label {
  padding-top: 2px;
}
.sidenav-container .sidenav .navigation-list .navigation-divider {
  color: #dcf0fb;
  border-color: #dcf0fb;
}
.sidenav-container .sidenav-content .sidenav-content-toolbar {
  background: #062639;
  color: #fff;
  padding-left: 60px;
}
.sidenav-container .sidenav-content .sidenav-content-toolbar .menu-button {
  color: #fff;
  background: #062639;
}
.sidenav-container .sidenav-content .sidenav-content-toolbar .menu-button:focus {
  outline: none;
}
.sidenav-container .sidenav-content .sidenav-content-toolbar .navbar-link {
  color: #fff;
  padding-right: 10px;
  cursor: pointer;
}
.sidenav-container .sidenav-content .sidenav-content-toolbar .navbar-link:hover {
  color: #fff;
}
.sidenav-container .sidenav-content .sidenav-content-toolbar .navbar-link:focus {
  outline: none;
}
.sidenav-container .sidenav-content .sidenav-content-toolbar .gifts a {
  color: #fff;
  display: inline-block;
  padding-top: 7px;
  padding-right: 20px;
  position: relative;
}
.sidenav-container .sidenav-content .sidenav-content-toolbar .gifts a .mat-badge-content {
  background: #d3544d;
}
.sidenav-container .sidenav-content .sidenav-content-toolbar .gifts:focus {
  outline: none;
}
.sidenav-container .sidenav-content .filler {
  flex: 1 1 auto;
}
.sidenav-container .mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
/*left sidenav style override*/
mat-sidenav:not(.mat-drawer-opened) {
  transform: translate3d(0, 0, 0) !important;
  visibility: visible !important;
  width: 60px !important;
  overflow: hidden;
}
mat-sidenav:not(.mat-drawer-opened) .navigation-item-label {
  display: none !important;
}
mat-sidenav:not(.mat-drawer-opened) .home-button {
  display: none !important;
}
