.data-table {
  max-width: 90%;
  min-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

table {
  table-layout: fixed;
}
.name {
  margin: 20px 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.match-score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loser {
  color: #f44336;
  font-size: 18px;
  font-weight: bolder;
}

.winner {
  font-size: 18px;
  color: #8bc34a;
  font-weight: bolder;
}

.win {
  font-weight: 900;
}
.lose {
  font-weight: 900;
}

.center {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background: #0188d2;
  color: white;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

tr:nth-child(even) {
  background: #f9f9f9;
}

body .material-icons {
  font-family: "Material Icons";
}

td.mat-cell:last-of-type {
  margin-right: 20px;
  font-size: 13px;
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
}

button {
  position: absolute;
  top: 4%;
  right: 2%;
}

th.mat-sort-header-sorted {
  color: black;
}
