<table mat-table [dataSource]="dataSource" matSortStart="desc" matSort class="mat-elevation-z8 data-table">
  <caption class="mat-typography">
    <div class="container">
      <div class="game-title">
        <p class="title">{{ index + 1 }}</p>
      </div>
      <div class="match-score">
        <p class="name team" [ngClass]="teamScore[0].result === 'win' ? 'win' : 'lose'">
          {{ teamScore[0].name }}
        </p>
        <div class="name score">
          <p [ngClass]="teamScore[0].result === 'win' ? 'winner' : 'loser'">
            {{ teamScore[0].score }}
          </p>
          <p class="name">-</p>
          <p [ngClass]="teamScore[1].result === 'win' ? 'winner' : 'loser'">
            {{ teamScore[1].score }}
          </p>
        </div>

        <p class="name team" [ngClass]="teamScore[1].result === 'win' ? 'win' : 'lose'">
          {{ teamScore[1].name }}
        </p>
      </div>
    </div>
  </caption>

  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
    <td mat-cell *matCellDef="let element; let i = index" style="margin-right: 20px; font-weight: bolder;">
      <p style="color: #ff5623;">{{ i + 1 }}</p>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Player</th>
    <td mat-cell *matCellDef="let element" style="margin-right: 20px; font-weight: bolder;">
      {{ element.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="teamName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Team</th>
    <td mat-cell *matCellDef="let element">
      <h5 style="margin-right: 20px; margin-bottom: 0;" class="mat-h5">{{ element.teamName }}</h5>
    </td>
  </ng-container>

  <ng-container matColumnDef="goals">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Goals</th>
    <td mat-cell *matCellDef="let element">
      <h5 style="margin-right: 20px; margin-bottom: 0;" class="mat-h5">{{ element.goals }}</h5>
    </td>
  </ng-container>

  <ng-container matColumnDef="assists">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Assists</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <h5 style="margin-right: 20px; margin-bottom: 0;" class="mat-h5">{{ element.assists }}</h5>
    </td>
  </ng-container>

  <ng-container matColumnDef="saves">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Saves</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <h5 style="margin-right: 20px; margin-bottom: 0;" class="mat-h5">{{ element.saves }}</h5>
    </td>
  </ng-container>

  <ng-container matColumnDef="shots">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Shots</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <h5 style="margin-right: 20px; margin-bottom: 0;" class="mat-h5">
        {{ element.shots }}
      </h5>
    </td>
  </ng-container>

  <ng-container matColumnDef="shootingPercentage">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Shot %</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <h5 style="margin-right: 20px; margin-bottom: 0;" class="mat-h5">
        {{ getShotPercentage(element.shootingPercentage) }}
      </h5>
    </td>
  </ng-container>

  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Score</th>
    <td mat-cell *matCellDef="let element; let i = index" style="margin-right: 20px; font-weight: bolder">
      {{ element.score }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedMatchColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedMatchColumns"></tr>
</table>
