.data-table {
  max-width: 90%;
  min-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

table {
  table-layout: fixed;
  @media (max-width: 767px) {
    width: 400px;
    justify-content: space-between;
  }
}

td {
  @media (max-width: 767px) {
    font-size: 8px;
  }
}

.name {
  margin: 20px 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.background {
  background: orange;
  color: white;
}
.match-score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loser {
  color: #f44336;
}
.lose {
  color: grey;
}

.winner {
  color: #8bc34a;
  font-weight: bolder;
  font-size: 14px;
}

.win {
  font-weight: 900;
}

.center {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background: white;
  display: flex;
  justify-content: space-around;
}

body .material-icons {
  font-family: "Material Icons";
}

.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

td.mat-cell:last-of-type {
  margin-right: 20px;
  font-size: 13px;
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
}

button {
  position: absolute;
  top: 4%;
  right: 2%;
}

th.mat-sort-header-sorted {
  color: black;
}

mat-paginator {
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
