.index {
  z-index: -1 !important;
}

.elevation {
  position: relative;
  border-radius: 5px;
  z-index: 1;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  display: block;
  overflow: hidden;
}
