.dropzone {
  height: 30px;
  border: none;
}

.center {
  height: auto;
}

.content {
  height: 50px;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 12px;
  white-space: normal;
  height: auto;
  max-width: 150px;
  word-wrap: break-word;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.no-upload-rights-text {
  max-width: 200px;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

::ng-deep.mat-expansion-panel-body {
  padding: 0 24px !important;
}

.upload-button {
  border: 1px dashed grey;
  width: 100%;
}

.expanded {
  max-width: 350px;
}

.data-table {
  width: 100%;
  animation: fadein 1s;
  overflow: auto;
}

@keyframes fadein {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 500px;
  }
}

th.mat-sort-header-sorted {
  color: black;
}

.dialog-content {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
